
.idea/vcs.xml
.idea/scala_settings.xml
.idea/scala_compiler.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/libraries/sbt__org_scala_lang_modules_scala_xml_3_2_1_0_jar.xml
.idea/libraries/sbt__org_scala_lang_scala3_library_3_3_2_0_jar.xml
.idea/libraries/sbt__org_scala_lang_scala_library_2_13_8_jar.xml
.idea/libraries/sbt__org_scalactic_scalactic_3_3_2_14_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_3_3_2_14_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_compatible_3_2_14_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_core_3_3_2_14_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_diagrams_3_3_2_14_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_featurespec_3_3_2_14_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_flatspec_3_3_2_14_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_freespec_3_3_2_14_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_funspec_3_3_2_14_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_funsuite_3_3_2_14_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_matchers_core_3_3_2_14_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_mustmatchers_3_3_2_14_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_propspec_3_3_2_14_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_refspec_3_3_2_14_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_shouldmatchers_3_3_2_14_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_wordspec_3_3_2_14_jar.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/ToyBrokersLudo-build.iml
.idea/modules/ToyBrokersLudo.iml
.idea/sbt.xml
.idea/uiDesigner.xml
project/target/config-classes/$90d6bf58b7b4645974c8$.class
target/global-logging/sbt-global-log3227368894366851526.log
.github/secrets/REPO_TOKEN
target/scala-3.2.0/classes/de/htwg/se/toybrokersludo/aview/TUI.class
target/scala-3.2.0/classes/de/htwg/se/toybrokersludo/aview/TUI.tasty
target/scala-3.2.0/classes/de/htwg/se/toybrokersludo/controller/Controller$.class
target/scala-3.2.0/classes/de/htwg/se/toybrokersludo/controller/Controller.class
target/scala-3.2.0/classes/de/htwg/se/toybrokersludo/controller/Controller.tasty
target/scala-3.2.0/classes/de/htwg/se/toybrokersludo/Field.class
target/scala-3.2.0/classes/de/htwg/se/toybrokersludo/Field.tasty
target/scala-3.2.0/classes/de/htwg/se/toybrokersludo/model/Field$.class
target/scala-3.2.0/classes/de/htwg/se/toybrokersludo/model/Field.class
target/scala-3.2.0/classes/de/htwg/se/toybrokersludo/model/Field.tasty
target/scala-3.2.0/classes/de/htwg/se/toybrokersludo/model/Matrix$.class
target/scala-3.2.0/classes/de/htwg/se/toybrokersludo/model/Matrix.class
target/scala-3.2.0/classes/de/htwg/se/toybrokersludo/model/Matrix.tasty
target/scala-3.2.0/classes/de/htwg/se/toybrokersludo/model/Move$.class
target/scala-3.2.0/classes/de/htwg/se/toybrokersludo/model/Move.class
target/scala-3.2.0/classes/de/htwg/se/toybrokersludo/model/Move.tasty
target/scala-3.2.0/classes/de/htwg/se/toybrokersludo/model/Player$.class
target/scala-3.2.0/classes/de/htwg/se/toybrokersludo/model/Player.class
target/scala-3.2.0/classes/de/htwg/se/toybrokersludo/model/Player.tasty
target/scala-3.2.0/classes/de/htwg/se/toybrokersludo/model/Stone$.class
target/scala-3.2.0/classes/de/htwg/se/toybrokersludo/model/Stone.class
target/scala-3.2.0/classes/de/htwg/se/toybrokersludo/model/Stone.tasty
target/scala-3.2.0/classes/de/htwg/se/toybrokersludo/run.class
target/scala-3.2.0/classes/de/htwg/se/toybrokersludo/run.tasty
target/scala-3.2.0/classes/de/htwg/se/toybrokersludo/ToybrokersLudo$package$.class
target/scala-3.2.0/classes/de/htwg/se/toybrokersludo/ToybrokersLudo$package.class
target/scala-3.2.0/classes/de/htwg/se/toybrokersludo/ToybrokersLudo$package.tasty
target/scala-3.2.0/classes/de/htwg/se/toybrokersludo/util/Observable.class
target/scala-3.2.0/classes/de/htwg/se/toybrokersludo/util/Observable.tasty
target/scala-3.2.0/classes/de/htwg/se/toybrokersludo/util/Observer.class
target/scala-3.2.0/classes/de/htwg/se/toybrokersludo/util/Observer.tasty
